<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781914594692-tgibd77t2rrgd0hgthbr56mcb0be4nlq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781914594692-tgibd77t2rrgd0hgthbr56mcb0be4nlq</string>
	<key>API_KEY</key>
	<string>AIzaSyDjKjcEqapmCqf6yeATnkd94W__vTFeriY</string>
	<key>GCM_SENDER_ID</key>
	<string>781914594692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.signinGoogle</string>
	<key>PROJECT_ID</key>
	<string>flutterfirebase-f2ecf</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirebase-f2ecf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781914594692:ios:29c0d5d6b4f67ca21ad1d1</string>
</dict>
</plist>